[submodule "packages/foliate-js"]
	path = packages/foliate-js
	url = git@github.com:zhangyuchi/foliate-js.git
[submodule "packages/tauri"]
	path = packages/tauri
	url = https://github.com/readest/tauri.git
[submodule "packages/tauri-plugins"]
	path = packages/tauri-plugins
	url = https://github.com/readest/tauri-plugins-workspace.git
[submodule "packages/simplecc-wasm"]
	path = packages/simplecc-wasm
	url = https://github.com/readest/simplecc-wasm.git
[submodule "apps/readest-app/src-tauri/plugins/tauri-plugin-turso"]
	path = apps/readest-app/src-tauri/plugins/tauri-plugin-turso
	url = https://github.com/readest/tauri-plugin-turso.git
[submodule "apps/readest-app/.claude/skills/gstack"]
	path = apps/readest-app/.claude/skills/gstack
	url = https://github.com/garrytan/gstack.git
[submodule "packages/qcms"]
	path = packages/qcms
	url = https://github.com/mozilla/pdf.js.qcms.git
[submodule "packages/js-mdict"]
	path = packages/js-mdict
	url = https://github.com/readest/js-mdict.git
[submodule "apps/readest-app/src-tauri/plugins/tauri-plugin-webview-upgrade"]
	path = apps/readest-app/src-tauri/plugins/tauri-plugin-webview-upgrade
	url = https://github.com/readest/tauri-plugin-webview-upgrade.git
[submodule "packages/tao"]
	path = packages/tao
	url = https://github.com/readest/tao.git
